In [1]:
# In this and the following exercises, you'll be adding train test splits to the data
# to see how it changes the performance of each classifier
#
# The code provided will load the Titanic dataset like you did in project 0, then train
# a decision tree (the method you used in your project) and a Bayesian classifier (as
# discussed in the introduction videos). You don't need to worry about how these work for
# now. 
#
# What you do need to do is import a train/test split, train the classifiers on the
# training data, and store the resulting accuracy scores in the dictionary provided.

import numpy as np
import pandas as pd

# Load the dataset
X = pd.read_csv('titanic_data.csv')
# Limit to categorical data
X = X.select_dtypes(include=[object])

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# TODO: create a LabelEncoder object and fit it to each feature in X.
# The label encoder only takes a single feature at a time!

In [2]:
X.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [10]:
le = LabelEncoder()

In [20]:
for feature in X.columns:
    le.fit(X[feature])
    le.transform

ValueError: bad input shape (5L, 891L)

In [22]:
[X[feature] for feature in X.columns]

[0                                Braund, Mr. Owen Harris
 1      Cumings, Mrs. John Bradley (Florence Briggs Th...
 2                                 Heikkinen, Miss. Laina
 3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
 4                               Allen, Mr. William Henry
 5                                       Moran, Mr. James
 6                                McCarthy, Mr. Timothy J
 7                         Palsson, Master. Gosta Leonard
 8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
 9                    Nasser, Mrs. Nicholas (Adele Achem)
 10                       Sandstrom, Miss. Marguerite Rut
 11                              Bonnell, Miss. Elizabeth
 12                        Saundercock, Mr. William Henry
 13                           Andersson, Mr. Anders Johan
 14                  Vestrom, Miss. Hulda Amanda Adolfina
 15                      Hewlett, Mrs. (Mary D Kingcome)
 16                                  Rice, Master. Eugene
 17                          Williams, Mr. Charles Eugene
 18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
 19                               Masselmani, Mrs. Fatima
 20                                  Fynney, Mr. Joseph J
 21                                 Beesley, Mr. Lawrence
 22                           McGowan, Miss. Anna "Annie"
 23                          Sloper, Mr. William Thompson
 24                         Palsson, Miss. Torborg Danira
 25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
 26                               Emir, Mr. Farred Chehab
 27                        Fortune, Mr. Charles Alexander
 28                         O'Dwyer, Miss. Ellen "Nellie"
 29                                   Todoroff, Mr. Lalio
                              ...
 861                          Giles, Mr. Frederick Edward
 862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
 863                    Sage, Miss. Dorothy Edith "Dolly"
 864                               Gill, Mr. John William
 865                             Bystrom, Mrs. (Karolina)
 866                         Duran y More, Miss. Asuncion
 867                 Roebling, Mr. Washington Augustus II
 868                          van Melkebeke, Mr. Philemon
 869                      Johnson, Master. Harold Theodor
 870                                    Balkic, Mr. Cerin
 871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
 872                             Carlsson, Mr. Frans Olof
 873                          Vander Cruyssen, Mr. Victor
 874                Abelson, Mrs. Samuel (Hannah Wizosky)
 875                     Najib, Miss. Adele Kiamie "Jane"
 876                        Gustafsson, Mr. Alfred Ossian
 877                                 Petroff, Mr. Nedelio
 878                                   Laleff, Mr. Kristo
 879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
 880         Shelley, Mrs. William (Imanita Parrish Hall)
 881                                   Markun, Mr. Johann
 882                         Dahlberg, Miss. Gerda Ulrika
 883                        Banfield, Mr. Frederick James
 884                               Sutehall, Mr. Henry Jr
 885                 Rice, Mrs. William (Margaret Norton)
 886                                Montvila, Rev. Juozas
 887                         Graham, Miss. Margaret Edith
 888             Johnston, Miss. Catherine Helen "Carrie"
 889                                Behr, Mr. Karl Howell
 890                                  Dooley, Mr. Patrick
 Name: Name, dtype: object, 0        male
 1      female
 2      female
 3      female
 4        male
 5        male
 6        male
 7        male
 8      female
 9      female
 10     female
 11     female
 12       male
 13       male
 14     female
 15     female
 16       male
 17       male
 18     female
 19     female
 20       male
 21       male
 22     female
 23       male
 24     female
 25     female
 26       male
 27       male
 28     female
 29       male
         ...
 861      male
 862    female
 863    female
 864      male
 865    female
 866    female
 867      male
 868      male
 869      male
 870      male
 871    female
 872      male
 873      male
 874    female
 875    female
 876      male
 877      male
 878      male
 879    female
 880    female
 881      male
 882    female
 883      male
 884      male
 885    female
 886      male
 887    female
 888    female
 889      male
 890      male
 Name: Sex, dtype: object, 0             A/5 21171
 1              PC 17599
 2      STON/O2. 3101282
 3                113803
 4                373450
 5                330877
 6                 17463
 7                349909
 8                347742
 9                237736
 10              PP 9549
 11               113783
 12            A/5. 2151
 13               347082
 14               350406
 15               248706
 16               382652
 17               244373
 18               345763
 19                 2649
 20               239865
 21               248698
 22               330923
 23               113788
 24               349909
 25               347077
 26                 2631
 27                19950
 28               330959
 29               349216
              ...
 861               28134
 862               17466
 863            CA. 2343
 864              233866
 865              236852
 866       SC/PARIS 2149
 867            PC 17590
 868              345777
 869              347742
 870              349248
 871               11751
 872                 695
 873              345765
 874           P/PP 3381
 875                2667
 876                7534
 877              349212
 878              349217
 879               11767
 880              230433
 881              349257
 882                7552
 883    C.A./SOTON 34068
 884     SOTON/OQ 392076
 885              382652
 886              211536
 887              112053
 888          W./C. 6607
 889              111369
 890              370376
 Name: Ticket, dtype: object, 0              NaN
 1              C85
 2              NaN
 3             C123
 4              NaN
 5              NaN
 6              E46
 7              NaN
 8              NaN
 9              NaN
 10              G6
 11            C103
 12             NaN
 13             NaN
 14             NaN
 15             NaN
 16             NaN
 17             NaN
 18             NaN
 19             NaN
 20             NaN
 21             D56
 22             NaN
 23              A6
 24             NaN
 25             NaN
 26             NaN
 27     C23 C25 C27
 28             NaN
 29             NaN
           ...
 861            NaN
 862            D17
 863            NaN
 864            NaN
 865            NaN
 866            NaN
 867            A24
 868            NaN
 869            NaN
 870            NaN
 871            D35
 872    B51 B53 B55
 873            NaN
 874            NaN
 875            NaN
 876            NaN
 877            NaN
 878            NaN
 879            C50
 880            NaN
 881            NaN
 882            NaN
 883            NaN
 884            NaN
 885            NaN
 886            NaN
 887            B42
 888            NaN
 889           C148
 890            NaN
 Name: Cabin, dtype: object, 0      S
 1      C
 2      S
 3      S
 4      S
 5      Q
 6      S
 7      S
 8      S
 9      C
 10     S
 11     S
 12     S
 13     S
 14     S
 15     S
 16     Q
 17     S
 18     S
 19     C
 20     S
 21     S
 22     Q
 23     S
 24     S
 25     S
 26     C
 27     S
 28     Q
 29     S
       ..
 861    S
 862    S
 863    S
 864    S
 865    S
 866    C
 867    S
 868    S
 869    S
 870    S
 871    S
 872    S
 873    S
 874    C
 875    C
 876    S
 877    S
 878    S
 879    C
 880    S
 881    S
 882    S
 883    S
 884    S
 885    Q
 886    S
 887    S
 888    S
 889    C
 890    Q
 Name: Embarked, dtype: object]

In [25]:
ohe = OneHotEncoder()

In [28]:
le = LabelEncoder()
for feature in X.columns:
    le.fit(X[feature])
    X[feature] = le.transform(X[feature])

In [29]:
X

     Name  Sex  Ticket  Cabin  Embarked
0     108    1     523      0         3
1     190    0     596     82         1
2     353    0     669      0         3
3     272    0      49     56         3
4      15    1     472      0         3
5     554    1     275      0         2
6     515    1      85    130         3
7     624    1     395      0         3
8     412    0     344      0         3
9     576    0     132      0         1
10    727    0     616    146         3
11     95    0      38     50         3
12    729    1     535      0         3
13     28    1     333      0         3
14    840    0     413      0         3
15    359    0     153      0         3
16    682    1     480      0         2
17    867    1     151      0         3
18    839    0     301      0         3
19    512    0     184      0         1
20    273    1     139      0         3
21     80    1     152    112         3
22    523    0     278      0         2
23    765    1      42     14         3
24    626    0     395      0         3
25     44    0     329      0         3
26    240    1     179      0         1
27    260    1      95     64         3
28    605    0     283      0         2
29    813    1     362      0         3
..    ...  ...     ...    ...       ...
861   283    1     221      0         3
862   797    0      88     95         3
863   718    0     568      0         3
864   285    1     120      0         3
865   122    0     126      0         3
866   230    0     632      0         1
867   696    1     590      7         3
868   890    1     309      0         3
869   407    1     344      0         3
870    59    1     387      0         3
871    79    0      54    103         3
872   139    1     502     35         3
873   836    1     303      0         3
874     4    0     575      0         1
875   571    0     195      0         1
876   311    1     504      0         3
877   657    1     358      0         3
878   451    1     363      0         3
879   668    0      59     71         1
880   739    0     115      0         3
881   510    1     394      0         3
882   193    0     508      0         3
883    61    1     565      0         3
884   793    1     650      0         3
885   684    0     480      0         2
886   548    1     101      0         3
887   303    0      14     31         3
888   413    0     675      0         3
889    81    1       8     61         1
890   220    1     466      0         2

[891 rows x 5 columns]

In [30]:
# TODO: create a OneHotEncoder object, and fit it to all of X.

enc = OneHotEncoder()
enc.fit(X)

#TODO: transform the categorical titanic data, and store the transformed labels in the variable `onehotlabels`
onehotlabels = enc.transform(X)